// Font families
$main-font-family: 'Roboto', sans-serif;
$title-font-family: 'Abel', sans-serif;
$body-font-family: $main-font-family;

// Font sizes
$font-size-base: 15px;
$font-size-small: $font-size-base -5px;
$font-size-large: $font-size-base +5px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// Base Colors
$color-k: #DDBEA4;
$color-la: #DDBEA4;
$color-peach-rose: #C26868;
$color-dirty-robin: #9FC4CA;
$color-lime: #D8E6B5;

// Main components colors
$main-text-color: $color-dirty-robin;
$links-color: $color-la;

/// Responsive
$mobile-portrait-width: 375px;
$mobile-landscape-width: 667px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;